* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes rotate_all {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  5% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  15% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  85% {
    -webkit-transform: rotate(110deg);
            transform: rotate(110deg);
  }
  90% {
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes rotate_all {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  5% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  15% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  85% {
    -webkit-transform: rotate(110deg);
            transform: rotate(110deg);
  }
  90% {
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

body {
  background: black;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

body .container {
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-grid-columns: (30px)[3];
      grid-template-columns: repeat(3, 30px);
  -ms-grid-rows: (30px)[3];
      grid-template-rows: repeat(3, 30px);
  -webkit-animation: rotate_all 1s ease infinite .5s;
          animation: rotate_all 1s ease infinite .5s;
}

body .container .item {
  width: 30px;
  height: 30px;
  position: relative;
  overflow: hidden;
}

body .container .item::after {
  content: '';
  width: 24px;
  height: 24px;
  border: 3.5px solid #fff;
  border-radius: 50%;
  position: absolute;
}

body .container .item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

body .container .item:nth-child(1)::after {
  -webkit-animation-delay: .05s;
          animation-delay: .05s;
}

body .container .item:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

body .container .item:nth-child(2)::after {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

body .container .item:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

body .container .item:nth-child(3)::after {
  -webkit-animation-delay: .15s;
          animation-delay: .15s;
}

body .container .item:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
}

body .container .item:nth-child(4)::after {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

body .container .item:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3 / 2 / 4 / 3;
}

body .container .item:nth-child(5)::after {
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}
/*# sourceMappingURL=style.css.map */